{{#extends "base"}}

  {{#block "content"}}
    <form method="POST">
      <form method="POST">
        <div class="alert alert-danger">
          <p>Are you sure you want to delete {{movie.name}}?</p>
          <input type="submit" class="btn btn-danger" value="Confirm" />
          <a href="/movies" class="btn btn-success">Cancel</a>
        </div>
      </form>
    </form>
  {{/block}}

{{/extends}}