{{#extends 'base'}}

{{#block 'content'}}

<h1>Food</h1>
<a href="/food_record/create" class="btn btn-primary">Add New</a>
<table class="table">
    <thead>
        <tr>
            <th>Food Name</th>
        <th>Calories</th>
        <html>Tags</html>
        </tr>
    </thead>
    <tbody>
        <tr>
        {{#each foodRecord}}
        </tr>
    </tbody>
</table>
