{{#extends "base"}}

  {{#block "content"}}
    <form method="POST">
      <div class="">
        <label for="form-label">Enter your weight: </label>
        <input type="text" class="form-control" name="weight" />
        <label for="" class="form-label">Enter your height</label>
        <input type="text" class="form-control" name="height">
      </div>
      <br>
        <input type="submit" class="btn btn-primary"></input>
    </form>
  {{/block}}

{{/extends}}